[submodule "bamot/thirdparty/SuperPoint"]
	path = bamot/thirdparty/SuperPoint
	url = git@github.com:rpautrat/SuperPoint.git
[submodule "g2opy"]
	path = bamot/thirdparty/g2opy
	url = git@github.com:AnselmC/g2opy.git
[submodule "bamot/thirdparty/pointnet2"]
	path = bamot/thirdparty/pointnet2
	url = git@github.com:erikwijmans/Pointnet2_PyTorch.git
